collections:
  authors:
    output: true
  tags:
    output: true
  years:
    output: true

defaults:
  - scope:
      path: ""
      type: "authors"
    values:
      layout: "author"
  - scope:
      path: ""
      type: "tags"
    values:
      layout: "tag"
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "years"
    values:
      layout: "year"
  - scope:
      path: ""
    values:
      layout: "default"
