.current {
  color: #000000;
  text-decoration: underline;
}

nav a {
  color: #444444;
  text-decoration: none;
}

table {
  background-color: #ff0b30;
  padding: 2px;
  border: 1px solid black;
}

pre {
  border-inline-start: 3px solid #ff0b30;
}

ul.latestpostsul, .titulotagsul, .stafful {
  padding-inline-start: 0;
}

ul .tagsDePost .tagDePost{
  color: #000000;
}

ul .tagsDePost .tagDePost::before{
  content: "#";
}

ul .tituloPost, .tituloTags, .tituloauthorstaff {
  list-style: none;
}

ul .tagsDePost{
  list-style: none;
}
